/*CSS RULES FOR SCHEME SPECIFIC BACKGROUND COLOR  */

.header_wrap .nav ul li p{color:#4ec0ab;}

.main_container .content a{color:#4ec0ab;}

.main_container .content .title{color:#4ec0ab;}

.main_container .vertical_gallery .blocks_container{border-bottom: 8px solid #4ec0ab;}

.main_container .vertical_gallery .blocks_container .block .btn1, .main_container .vertical_gallery .blocks_container .block .btn2{background-color:#4ec0ab;}

.main_container .grid_container{border-bottom: solid 8px #4ec0ab;}

.grid_container2{border-top: 8px solid #4ec0ab;}

.overlay_wrap{border-bottom: 8px solid #4ec0ab;}

.find_btn{background:#4ec0ab;}

.main_container .horizon_gallery2{border-bottom:8px solid #4ec0ab;}

div.timeline_inputsize_error_msg  {background-color:#4ec0ab;}

input #carrouel_total_time {color:#4ec0ab;}

.upload_error {background-color:#4ec0ab;}

.upload_success {background-color:#4ec0ab;}

.green_btn_horizon{background:#4ec0ab;}

.btn_active {background-color:#4ec0ab;}

 #titel_wachttijden {color:#4ec0ab;}
 
 #wachttijden_popup .title {color:#4ec0ab;}
 
 .main_container .grid_container table .grid_header_top{color:#4ec0ab;}
 
 #csvdata {background-color:#4ec0ab;}
 
 #header_label {color:#4ec0ab;}


/* CSS RULES FOR SCHEME SPECIFIC BACKGROUND ICON */

.header{background:url(../img/mintgroen/header_strip.jpg);}

.main_container .vertical_gallery .tabs ul li a{background:url(../img/mintgroen/tab_strip.png);}


.main_container .horizon_gallery{background:#e5e5e5 url(../img/mintgroen/hor_gallery_bg_strip.png);}


.main_container .horizon_gallery1{background:#e5e5e5 url(../img/mintgroen/hor_gallery_bg_strip.png);}


.horiz_block .horiz_input_field input{width: 30px;height: 28px;background:url(../img/mintgroen/input_strip.png);}


span.deleteicon span {background: url('../img/mintgroen/close_btn.png');}


